<nz-layout class="home" [ngClass]="{'waiting-cursor' : dataArrived === false}">

    <!-- Header -->
    <nz-header>
        <!-- <div class="logo"></div> -->
        <h2>Hardware review</h2>
        <div class="home__header-buttons-wrapper">
            <app-modal-registration class="home__header-buttons"></app-modal-registration>
            <app-modal-login class="home__header-buttons"></app-modal-login>
        </div>
    </nz-header>

    <!-- Sider -->
    <nz-layout>
      <nz-sider nzWidth="275px">
        <ul nz-menu nzMode="inline" class="sider-menu">

          <li nz-menu-item (click)="selectHardwareCategory(-1)" [nzSelected]="selectedHardwareCategoryIndex === -1">All</li>

          <ng-container *ngFor="let item of allHardware; let i = index;">
            <li nz-menu-item (click)="selectHardwareCategory(i)" [nzSelected]="i === selectedHardwareCategoryIndex">{{item?.category}}</li>
          </ng-container>
        </ul>
      </nz-sider>

      <!-- Main content -->
      <nz-layout class="inner-layout">
        <nz-breadcrumb>
          <nz-breadcrumb-item><a (click)="selectHardwareCategory(-1)">Components</a></nz-breadcrumb-item>
          <nz-breadcrumb-item>{{selectedHardwareCategory?.category}}</nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-content>

            <h1>{{selectedHardwareCategory?.category}}</h1>
            <ng-container *ngFor="let item of selectedHardwareCategory.components">
              <app-component-card [component]="item" [category]="selectedHardwareCategory?.category"></app-component-card>
            </ng-container>
        </nz-content>
      </nz-layout>
    </nz-layout>

</nz-layout>
