<nz-layout class="home">

    <!-- Header -->
    <nz-header>
        <div>
          <button nz-button nzType="default" nzShape="circle" (click)="visible = !visible" style="margin-right: 20px;" class="drawer-btn">
            <span nz-icon nzType="menu"></span>
          </button>
          <h2 class="page-title">RevWare</h2>
        </div>
        <div class="home__header-buttons-wrapper" *ngIf="!loggedin">
            <app-modal-registration class="home__header-buttons"></app-modal-registration>
            <app-modal-login class="home__header-buttons"></app-modal-login>
        </div>
        <div class="home__welcome" *ngIf="loggedin">
          <h2>Welcome</h2>
          <button nz-button [nzType]="'default'" (click)="logout()"><span>Logout</span></button>
        </div>
    </nz-header>

    <!-- Sider -->
    <nz-layout>
      <nz-sider nzWidth="275px">
        <ul nz-menu nzMode="inline" class="sider-menu">

          <!-- <li nz-menu-item (click)="selectHardwareCategory(-1)" [nzSelected]="selectedHardwareCategoryIndex === -1">All</li> -->

          <!-- <ng-container *ngFor="let item of allHardware; let i = index;">
            <li nz-menu-item (click)="selectHardwareCategory(i)" [nzSelected]="i === selectedHardwareCategoryIndex">{{item?.category}}</li>
          </ng-container> -->
          <ng-container *ngFor="let item of hardwareCategoriesNames; let i = index;">
            <li nz-menu-item (click)="selectHardwareCategory(i)" [nzSelected]="i === selectedHardwareCategoryIndex">{{item}}</li>
          </ng-container>
        </ul>
      </nz-sider>

      <!-- drawer -->
      <nz-drawer
        [nzClosable]="false"
        [nzVisible]="visible"
        nzPlacement="left"
        nzTitle="Kategorije"
        (nzOnClose)="visible = false"
      >
        <ng-container *nzDrawerContent>
          <ul nz-menu nzMode="inline" class="sider-menu">
            <ng-container *ngFor="let item of hardwareCategoriesNames; let i = index;">
              <li nz-menu-item (click)="selectHardwareCategory(i); visible = false"
                [nzSelected]="i === selectedHardwareCategoryIndex"
                >
                {{item}}
              </li>
            </ng-container>
          </ul>
        </ng-container>
      </nz-drawer>

      <!-- Main content -->
      <nz-layout class="inner-layout">

        <div class="home__crumbs-and-search">
          <nz-breadcrumb style="margin-left: 20px;">
            <nz-breadcrumb-item>Components</nz-breadcrumb-item>
            <nz-breadcrumb-item>{{selectedHardwareCategory?.category}}</nz-breadcrumb-item>
          </nz-breadcrumb>

          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" class="input-group">
            <input type="text" nz-input placeholder="Traži" (ngModelChange)="search($event)" [(ngModel)]="searchTerm" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
          </ng-template>
        </div>

        <nz-content class="home__content">
          <h1>{{selectedHardwareCategory?.category}}</h1>

          <div class="home__content__spin-container" *ngIf="spinnerSpinning">
            <nz-spin nzSimple [nzSize]="'large'"
              [nzSpinning]="spinnerSpinning"
              style="position: fixed; top: 50%;">
            </nz-spin>
          </div>

          <div class="home__cards-container">
            <div *ngFor="let item of selectedHardwareCategory?.components" class="home__card">
              <app-component-card [component]="item" [category]="selectedHardwareCategory.category"></app-component-card>
            </div>
          </div>

          <button nz-button [nzType]="'default'" (click)="loadMore()">Load more...</button>

        </nz-content>

      </nz-layout>
    </nz-layout>

</nz-layout>
