.home {
    min-height: 100%;
}

nz-header {
    display: flex;
    justify-content: space-between;
    background: #E1E1E1;
    align-items: center;

    .page-title {
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
}

.home__header-buttons {
    margin-left: 15px;
}

.header-menu {
    line-height: 64px;
}

.sider-menu {
    height: 100%;
    border-right: 0;
}

.inner-layout {
  padding: 0 24px 24px;

  @media only screen and (max-width: 992px) {
    padding: 0;
  }
}

.home__crumbs-and-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px !important;

  .input-group {
    width: 300px !important;
    margin-left: 24px !important;
    margin-right: 24px;
    margin-bottom: 0 !important;
    min-width: 200px !important;
  }
}

nz-breadcrumb {
    margin: 16px 0;
}

nz-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}

nz-sider {

  @media only screen and (max-width: 1280px)  {
    display: none;
  }
}

nz-sider ul {
    background: #D2D1D1;
}

@media only screen and (max-width: 600px) {
    .home__header-buttons-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
    }
}

.home__welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  button {
    margin-left: 20px;
  }
}

.home__content {
  display: flex;
  flex-direction: column;

  h1 {
    width: 100%;
      text-align: left;
  }
}

.home__content__spin-container {

  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.home__cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.home__card {
  margin-bottom: 14px;
  width: #{calc(50% - 7px)};

  &:nth-child(odd) {
    margin-right: 14px;
  }

  @media only screen and (max-width: 992px) {
    width: 100%;

    &:nth-child(odd) {
      margin-right: 0px;
    }
  }
}

.drawer-btn {
  display: none;

  @media only screen and (max-width: 1280px)  {
    display: block
  }
}


// Drawer
.ant-drawer-header {
  background: gray !important;
}

:host::ng-deep .ant-drawer-header {
  background: gray !important;
}
