.card {
    background: #F4F4F4;
    //padding: 25px;
    margin-bottom: 15px;

    width: 100%;
    cursor: pointer;
}

.card__data {
    /* display: inline-grid;
    grid-template-columns: 80% 20%; */
    display: flex;

    h3 {
      margin-right: 20px;
    }

    @media only screen and (max-width: 600px) {;
    }
}

.card__img-container {
    /* height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
    background: #fff;
    margin: 25px;
}

/* @media only screen and (max-width: 600px) {
    .card {
        display: flex;

    }

    .card__img-container {
        display: flex;
        justify-content: center;
    }
} */

.card__img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
