<div class="card" routerLink="/hardware/{{component.id}}" (click)="cardClicked()">

    <div class="card__data" style="box-sizing: border-box;">

      <div class="card__data__text">
        <h3>{{component.title}}</h3>
        <p>Brand: {{component.brand}}</p>
        <p>Model: {{component.model}}</p>
        <p>Price: <b>{{component.price}}</b> USD</p>
      </div>

      <div class="card__img-container">
        <div [ngStyle]="{'background-image': imageURL()}" class="card__img">&nbsp;</div>
      </div>

    </div>

  </div>






