.home {
    min-height: 100%;
}

nz-header {
    display: flex;
    justify-content: space-between;
    background: #E1E1E1;
    align-items: center;

    .page-title {
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
}

.home__header-buttons {
    margin-left: 15px;
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 30px 16px 0;
    float: left;
}

.header-menu {
    line-height: 64px;
}

.sider-menu {
    height: 100%;
    border-right: 0;
}

.inner-layout {
    padding: 0 24px 24px;

    @media only screen and (max-width: 992px) {
        padding: 0;
      }
}

nz-breadcrumb {
    margin: 16px 0;
}

nz-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}

nz-sider ul {
    background: #D2D1D1;
}

.waiting-cursor {
    cursor: progress !important;
  }
  
  .home__welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  
    button {
      margin-left: 20px;
    }
  }
  
  .home__cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  
  
  
    @media only screen and (max-width: 600px) {
  
    }
  }
  
  .home__card {
    margin-bottom: 14px;
    width: #{calc(50% - 7px)};
  
    &:nth-child(odd) {
      margin-right: 14px;
    }
  
    @media only screen and (max-width: 992px) {
      width: 100%;
  
      &:nth-child(odd) {
        margin-right: 0px;
      }
    }
  }
  
  .drawer-btn {
    display: none;
  
    @media only screen and (max-width: 1280px)  {
      display: block
    }
  }

  // Drawer
.ant-drawer-header {
    background: gray !important;
  }
  
  :host::ng-deep .ant-drawer-header {
    background: gray !important;
  }

.img{
    float: right;
}

img{
    height: 90px;
    width: 100px;
    margin-right: 250px;
}

button{
    margin-left: 20px;
}

.reviewAdd{
    margin-top: 15px;
}

.reviews{
    margin-top: 100px;
}

.home__header-buttons {
    margin-left: 15px;
}

@media only screen and (max-width: 992px) {
    .inner-layout {
        margin-right: 60px;
        margin-left: 60px;
    }
}

@media only screen and (max-width: 600px) {
    .inner-layout {
        margin-right: 0px;
        margin-left: 0px;
        padding: 0px 5px 5px 0;
    }

    .home__header-buttons-wrapper {
        display: flex;
        align-items: center;
    }
}
