<nz-layout class="home">

    <!-- Header -->
    <nz-header>
        <!-- <div class="logo"></div> -->
        <h2>Hardware review</h2>
        <div class="home__header-buttons-wrapper">
          <app-modal-registration class="home__header-buttons"></app-modal-registration>
          <app-modal-login class="home__header-buttons"></app-modal-login>
        </div>
    </nz-header>

    <!-- Sider -->
    <nz-layout>

      <!-- Main content -->
      <nz-layout class="inner-layout">
        <nz-breadcrumb>
          <nz-breadcrumb-item><a routerLink="">Components</a></nz-breadcrumb-item>
          <nz-breadcrumb-item>{{category}}</nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-content>
            <h1>{{selectedHardware?.title}}</h1>

            <div class="img"><img src="{{selectedHardware?.img}}" alt="{{selectedHardware?.title}}"></div>

            <h2>Amazon link: <a href="{{selectedHardware?.link}}">{{selectedHardware?.link}}</a></h2>
            <h2>{{selectedHardware?.price}}$</h2>

            <nz-rate [(ngModel)]="componentRate" (ngModelChange)="rateChange()" nzAllowHalf></nz-rate>
            <button *ngIf="isAddReview == false" nz-button nzType="primary" (click)="addReview()">Leave review</button>

            <div class="reviewAdd" *ngIf="isAddReview == true">
                <textarea style="margin-bottom: 15px;" rows="4" nz-input [(ngModel)]="userReview" ></textarea>
                <button nz-button nzType="primary" (click)="submitReview()">Submit review</button>
            </div>

            <div class="reviews">
            <hr>

            <h1>Reviews:</h1>
            <nz-list [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
                <ng-template #item let-item>
                  <nz-comment [nzAuthor]="item.author" [nzDatetime]="item.datetime">
                    <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
                    <nz-comment-content>
                      <p>{{ item.content }}</p>
                    </nz-comment-content>
                    <nz-comment-action>Reply to</nz-comment-action>
                  </nz-comment>
                </ng-template>
              </nz-list>
            </div>

        </nz-content>
      </nz-layout>
    </nz-layout>

</nz-layout>
