/* You can add global styles to this file, and also import other style files */
/* @import "~ng-zorro-antd/style/index.min.css";
@import "~ng-zorro-antd/button/style/index.min.css"; */  /* Import one component's styles */


body {
  overflow-x: hidden;
}


.ant-drawer-header {
  background: #E1E1E1;
}

.ant-drawer-content-wrapper {
  width: 275px !important;
}

.ant-drawer-body {
  padding-left: 0;
  padding-right: 0;
  background: #D2D1D1 !important;
  overflow: hidden !important;
  ul {
    background: #D2D1D1 !important;
  }
}
